body {
    
    background-color: whitesmoke;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    }


.container {
    display: flex;
    gap: 10px;
    padding: 20px;
    border-radius: 30px 30px 30px 30px;
    margin: 20px;
    max-width: 600px;
    width: 100&;
    flex-direction: column;
    background-color: #AAC9FF;
    box-shadow: 1px 1px 5px 0.3px #1D3C78;
    }


.item {
text-align: center;
height:auto;
font-weight: bold;
background-color: #1D3C78;
border-radius: 40px 40px 40px 40px;
color: white;
padding: 2px 2px 2px 2px;
}
        
.item2 {
height: auto;
font-weight:600;
border-radius: 15px 15px 15px 15px;
background-color: white;
color: #1D3C78;
padding: 5px 20px 5px 20px;
box-shadow: 1px 1px 3px 0.3px #1D3C78;
}
    
.video {
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: auto;
    
}

.cta {
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    margin: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 15px 15px;
        
}
     .cta:hover {
        transform: scale(1.05);
        transition: .6s;
        }

    


